html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: gray;
}
/* Page Style Controls */

.container {
    display: grid;
    height: 100%;
    position: relative;
    grid-template-columns: 200px 1fr; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas: 
        "about-me-image about-me-info"
        "sidebar main-content"
        "footer footer";
}

/* Image Style Controls */

.about-me-image-frame {
    border: 2px solid #7d7979cb; 
    padding: 5px; 
    margin-right: 1rem; 
    display: inline-block;
    border-radius: 10%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    margin-left: 2.5%;
}

.about-me-image-frame img {
    max-width: 128px; 
    height: auto;
    display: block;
    border-radius: 10%;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.2);
}


/* About Me Section Controls */

#about-me-image {
    background-color: gray;
    grid-area: about-me-image;
    box-sizing: border-box;
    min-width: max-content;
    justify-content: center;
    margin: auto;
}

#about-me-info {
    background-color: whitesmoke;
    grid-area: about-me-info;
    display: flex;
    align-items: center; 
    padding: 1rem;
}


/* Sidebar Section Controls */


#sidebar {
    background-color: gray;
    grid-area: sidebar;
    box-sizing: border-box;
    min-width: 200px; /* Match the grid-template-columns value */
    display: flex;
    flex-direction: column;
}

/*Personal Info Controls*/
.sbar-title{
    margin-left: 10px;
    font-size: larger;}
.pinfo{
    margin-left: 5px;
    font-size: larger;
}

.pans{
    margin-left: 15px;
}



/* Main Content Section Controls */

#main-content {
    background-color: whitesmoke;
    grid-area: main-content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}





/* Footer Section Controls */

#footer {
    background-color: blue;
    grid-area: footer;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 1rem;
}